@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

@import "nullstyle.scss";
// Файл обнуляющих стилей

.text {
  font-family: "PT Sans";
  font-size: 30px;
  line-height: 35px;
  p {
    margin-bottom: 30px;
  }
}
