@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: white;
  margin: 100px auto;
  width: 350px;
  height: 600px;
  background-color: black;
  position: relative;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  padding: 5px;
  user-select: none;
}
.title {
  text-align: center;
  font-size: 18px;
  padding-top: 1em;
}
.result {
  height: 100px;
  width: 90%;
  background-color: #0a0a0a;
  margin: 40px auto 0px auto;

  font-size: 50px;
  text-align: end;

  overflow: hidden;
  user-select: auto;
}
.buttons-row {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
  align-items: flex-end;
  justify-items: flex-end;
}
.button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: grey;
  font-size: 24px;
  transition: all 0.05s linear;
}
.button:active {
  transform: translateY(2px);
}

.button-light {
  background-color: lightgrey;
}
.button-orange {
  background-color: orange;
}
.button-double {
  width: 170px;
  height: 75px;
  border-radius: 37.5px;
}
.clear {
}
.plus-minus {
}
.percent {
}

.deviding {
}
.multiplication {
}
.minus {
}
.plus {
}

.dot {
}
.resultation {
}
